{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block root %}
<div class="body">
    <form method='post' class="login-form">
      {% csrf_token %}
      <h1>LOG IN</h1>

      <div class="txt-b">
        <input type="text" name='username'/>
        <span data-placeholder="Username"></span>
      </div>

      <div class="txt-b">
        <input type="password" name='password'/>
        <span data-placeholder="Password"></span>
      </div>
      <p class="error">{{error}}</p>
      <input type="submit" class="logbtn" value="Login" />

      <div class="buttom-text">
        Don't have an account? <a href="{% url 'register' %}">Sign Up</a>
      </div>
    </form>
  </div>
    <!--transition (input title moves up) gives space to write for the first part-->
    <script type="text/javascript">
      $(".txt-b input").on("focus", function () {
        $(this).addClass("focus");
      });

      /* transition (input moves to its original place) occurs when no value is returned*/
      $(".txt-b input").on("blur", function () {
        if ($(this).val() == "") $(this).removeClass("focus");
      });
    </script>
{% endblock root %}