<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="https://w7.pngwing.com/pngs/710/874/png-transparent-green-leaf-illustration-leaf-logo-banana-leaves-leaf-vegetable-text-maple-leaf-thumbnail.png">
<link
rel="stylesheet"
href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
/>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
charset="utf-8"
></script>
